In [139]:
import numpy as np
frame = np.zeros((10, 11))

In [140]:
len(df.columns)+4

11

In [144]:
frame[0] = df.loc[10-10 : 10, 'Open'].values

In [170]:
y = deque(maxlen=5)
y.append(df.loc[0, 'Open'])
y

deque([170.16000366210938])

In [104]:
np.put(frame, [0,1,2,3,4], [
    self.df.loc[self.current_step - LOOKBACK_WINDOW_SIZE : self.current_step, 'Open'] / MAX_SHARE_PRICE,
    self.df.loc[self.current_step - LOOKBACK_WINDOW_SIZE : self.current_step, 'High'] / MAX_SHARE_PRICE,
    self.df.loc[self.current_step - LOOKBACK_WINDOW_SIZE : self.current_step, 'Low'] / MAX_SHARE_PRICE,
    self.df.loc[self.current_step - LOOKBACK_WINDOW_SIZE : self.current_step, 'Close'] / MAX_SHARE_PRICE,
    self.df.loc[self.current_step - LOOKBACK_WINDOW_SIZE : self.current_step, 'Adj Close'] / MAX_SHARE_PRICE,
    self.df.loc[self.current_step - LOOKBACK_WINDOW_SIZE : self.current_step, 'Volume'] / MAX_SHARE_PRICE,
])

NameError: name 'self' is not defined

In [73]:
frame.reshape((-1,1))

array([[0.],
       [0.],
       [0.],
       [0.],
       [0.]])

In [19]:
obs = np.append(frame, [
9,8,7,6,5
], axis=0)

In [20]:
obs

array([1., 2., 3., 4., 5., 9., 8., 7., 6., 5.])

In [58]:
import pandas_datareader as pdr

ticker = 'AAPL'
start_date = '2015-10-1'

df = pdr.get_data_yahoo(ticker, start_date)
df['Date'] = df.index
df.index = range(len(df))
df = df.sort_values('Date')
df['Date'] = df['Date'].astype('str')
print(len(df.columns))
df

7

,High,Low,Open,Close,Volume,Adj Close,Date
0,111.540001,108.730003,110.169998,110.300003,66473000.0,101.929794,2015-09-30
1,109.620003,107.309998,109.070000,109.580002,63929100.0,101.264427,2015-10-01
2,111.010002,107.550003,108.010002,110.379997,58019800.0,102.003716,2015-10-02
3,111.370003,109.070000,109.879997,110.779999,52064700.0,102.373367,2015-10-05
4,111.739998,109.769997,110.629997,111.309998,48196800.0,102.863136,2015-10-06
...,...,...,...,...,...,...,...
1220,441.570007,435.589996,437.510010,440.250000,30498000.0,439.457642,2020-08-05
1221,457.649994,439.190002,441.619995,455.609985,50607200.0,454.790009,2020-08-06
1222,454.700012,441.170013,452.820007,444.450012,49453300.0,444.450012,2020-08-07
1223,455.100006,440.000000,450.399994,450.910004,53100900.0,450.910004,2020-08-10
1224,449.929993,436.429993,447.880005,437.500000,46871100.0,437.500000,2020-08-11

In [107]:
df.loc[13-10 : 13, 'Open']

3     173.440002
4     174.350006
5     174.550003
6     173.160004
7     174.589996
8     176.179993
9     177.899994
10    176.149994
11    179.369995
12    178.610001
13    177.300003
Name: Open, dtype: float64

In [147]:
from collections import deque

In [171]:
x = deque([0], maxlen=10)

In [157]:
x.append(1)
x

deque([0, 0, 0, 0, 0, 0, 0, 0, 1, 1])

AttributeError: 'collections.deque' object has no attribute 'values'

In [159]:
np.array(x)

array([0, 0, 0, 0, 0, 0, 0, 0, 1, 1])

In [173]:
np.array([x, y])

array([[  0.        ],
       [170.16000366]])

In [178]:
df.index[-1]

656

In [3]:
import requests
import csv

In [7]:
stockCode = 'AAPL'

# set api key
api = "7OVAOOPNIMKJKIAX"

r = requests.get("https://www.alphavantage.co/query?function=INCOME_STATEMENT&symbol="+stockCode+"&apikey=" + api)
decoded_content = r.content.decode('utf-8')
cr = csv.reader(decoded_content.splitlines(), delimiter=',')
my_list = list(cr)

In [24]:
a = r.json()['quarterlyReports']

In [39]:
import pandas as pd

income_df = pd.DataFrame(a)

In [65]:
income_df

,fiscalDateEnding,reportedCurrency,totalRevenue,totalOperatingExpense,costOfRevenue,grossProfit,ebit,netIncome,researchAndDevelopment,effectOfAccountingCharges,...,netInterestIncome,extraordinaryItems,nonRecurring,otherItems,incomeTaxExpense,totalOtherIncomeExpense,discontinuedOperations,netIncomeFromContinuingOperations,netIncomeApplicableToCommonShares,preferredStockAndOtherAdjustments
0,2020-06-30,USD,59685000000,9589000000,37005000000,22680000000,13137000000,11253000000,4758000000,None,...,204000000,None,None,None,1884000000,-158000000,None,11253000000,11253000000,None
1,2020-03-31,USD,58313000000,9517000000,35943000000,22370000000,13135000000,11249000000,4565000000,None,...,292000000,None,None,None,1886000000,-10000000,None,11249000000,11249000000,None
2,2019-12-31,USD,91819000000,9648000000,56602000000,35217000000,25918000000,22236000000,4451000000,None,...,260000000,None,None,None,3682000000,89000000,None,22236000000,22236000000,None
3,2019-09-30,USD,64040000000,48415000000,39727000000,24313000000,20116000000,13686000000,4110000000,None,...,296000000,None,None,None,2441000000,206000000,None,13686000000,13686000000,None
4,2019-06-30,USD,53809000000,42265000000,33582000000,20227000000,15710000000,10044000000,4257000000,None,...,324000000,None,None,None,1867000000,43000000,None,10044000000,10044000000,None
5,2019-03-31,USD,58015000000,8406000000,36194000000,21821000000,13793000000,11561000000,3948000000,None,...,348000000,None,None,None,2232000000,30000000,None,11561000000,11561000000,None
6,2018-12-31,USD,84310000000,8685000000,52279000000,32031000000,23346000000,19965000000,3902000000,None,...,None,None,None,None,3941000000,560000000,None,19965000000,19965000000,None
7,2018-09-30,USD,62900000000,7966000000,38816000000,24084000000,16118000000,14125000000,3750000000,0,...,None,0,0,0,2296000000,303000000,0,14125000000,14125000000,None
8,2018-06-30,USD,53265000000,7809000000,32844000000,20421000000,12612000000,11519000000,3701000000,0,...,None,0,0,0,1765000000,672000000,0,11519000000,11519000000,None
9,2018-03-31,USD,61137000000,7528000000,37715000000,23422000000,15894000000,13822000000,3378000000,0,...,None,0,0,0,2346000000,274000000,0,13822000000,13822000000,None
10,2017-12-31,USD,88293000000,7638000000,51636000000,33912000000,26274000000,20065000000,3407000000,0,...,None,0,0,0,6965000000,756000000,0,20065000000,20065000000,None
11,2017-09-30,USD,52579000000,6811000000,30164000000,19931000000,13917000000,10714000000,2997000000,0,...,None,0,0,0,3203000000,2205000000,0,10714000000,10714000000,None
12,2017-06-30,USD,45408000000,6720000000,25566000000,17488000000,11308000000,8717000000,2937000000,0,...,None,0,0,0,2591000000,-47000000,0,8717000000,8717000000,None
13,2017-03-31,USD,52896000000,6494000000,29973000000,20591000000,14684000000,11029000000,2776000000,0,...,None,0,0,0,3655000000,-234000000,0,11029000000,11029000000,None
14,2016-12-31,USD,78351000000,6817000000,45188000000,30176000000,24180000000,17891000000,2871000000,0,...,None,0,0,0,6289000000,821000000,0,17891000000,17891000000,None
15,2016-09-30,USD,46852000000,6052000000,26491000000,17813000000,12188000000,9014000000,2570000000,0,...,None,0,0,0,3174000000,984000000,0,9014000000,9014000000,None
16,2016-06-30,USD,42358000000,6001000000,26252000000,16106000000,10469000000,7796000000,2560000000,0,...,None,0,0,0,2673000000,209000000,0,7796000000,7796000000,None
17,2016-03-31,USD,50557000000,5934000000,28159000000,19921000000,14142000000,10516000000,2511000000,0,...,None,0,0,0,3626000000,-247000000,0,10516000000,10516000000,None
18,2015-12-31,USD,75324000000,6252000000,42495000000,30423000000,24573000000,18361000000,2404000000,0,...,None,0,0,0,6212000000,402000000,0,18361000000,18361000000,None
19,2015-09-30,USD,51501000000,5925000000,30953000000,20548000000,15062000000,11124000000,2220000000,0,...,None,0,0,0,3938000000,895000000,0,11124000000,11124000000,None

In [59]:
income_df.columns

Index(['fiscalDateEnding', 'reportedCurrency', 'totalRevenue',
       'totalOperatingExpense', 'costOfRevenue', 'grossProfit', 'ebit',
       'netIncome', 'researchAndDevelopment', 'effectOfAccountingCharges',
       'incomeBeforeTax', 'minorityInterest', 'sellingGeneralAdministrative',
       'otherNonOperatingIncome', 'operatingIncome', 'otherOperatingExpense',
       'interestExpense', 'taxProvision', 'interestIncome',
       'netInterestIncome', 'extraordinaryItems', 'nonRecurring', 'otherItems',
       'incomeTaxExpense', 'totalOtherIncomeExpense', 'discontinuedOperations',
       'netIncomeFromContinuingOperations',
       'netIncomeApplicableToCommonShares',
       'preferredStockAndOtherAdjustments'],
      dtype='object')

In [36]:
dropCol = ['reportedCurrency', 'effectOfAccountingCharges','minorityInterest', 'netInterestIncome',\
           'extraordinaryItems', 'nonRecurring', 'otherItems', 'discontinuedOperations',\
           'preferredStockAndOtherAdjustments', 'otherOperatingExpense', 'taxProvision', 'interestIncome']

In [42]:
income_df_ = income_df.drop(dropCol, axis=1)[::-1]

In [44]:
income_df_.index = range(len(income_df_))

In [49]:
income_df_.columns = ['Date', 'totalRevenue', 'totalOperatingExpense',
       'costOfRevenue', 'grossProfit', 'ebit', 'netIncome',
       'researchAndDevelopment', 'incomeBeforeTax',
       'sellingGeneralAdministrative', 'otherNonOperatingIncome',
       'operatingIncome', 'interestExpense', 'incomeTaxExpense',
       'totalOtherIncomeExpense', 'netIncomeFromContinuingOperations',
       'netIncomeApplicableToCommonShares']

In [75]:
# income_df_.drop(['Date'], axis=1)/10000000000
income_df_2 = pd.concat([income_df_[['Date']], income_df_.drop(['Date'], axis=1).astype(float) / 10000000000], axis=1)

In [76]:
income_df_2

,Date,totalRevenue,totalOperatingExpense,costOfRevenue,grossProfit,ebit,netIncome,researchAndDevelopment,incomeBeforeTax,sellingGeneralAdministrative,otherNonOperatingIncome,operatingIncome,interestExpense,incomeTaxExpense,totalOtherIncomeExpense,netIncomeFromContinuingOperations,netIncomeApplicableToCommonShares
0,2015-09-30,5.1501,0.5925,3.0953,2.0548,1.5062,1.1124,0.2220,1.5062,0.3705,0.0439,1.4623,0.0238,0.3938,0.0895,1.1124,1.1124
1,2015-12-31,7.5324,0.6252,4.2495,3.0423,2.4573,1.8361,0.2404,2.4573,0.3848,0.0402,2.3623,0.0276,0.6212,0.0402,1.8361,1.8361
2,2016-03-31,5.0557,0.5934,2.8159,1.9921,1.4142,1.0516,0.2511,1.4142,0.3423,0.0155,1.3987,0.0321,0.3626,-0.0247,1.0516,1.0516
3,2016-06-30,4.2358,0.6001,2.6252,1.6106,1.0469,0.7796,0.2560,1.0469,0.3441,0.0364,1.0105,0.0409,0.2673,0.0209,0.7796,0.7796
4,2016-09-30,4.6852,0.6052,2.6491,1.7813,1.2188,0.9014,0.2570,1.2188,0.3482,0.0427,1.1761,0.0450,0.3174,0.0984,0.9014,0.9014
5,2016-12-31,7.8351,0.6817,4.5188,3.0176,2.4180,1.7891,0.2871,2.4180,0.3946,0.0821,2.3359,0.0525,0.6289,0.0821,1.7891,1.7891
6,2017-03-31,5.2896,0.6494,2.9973,2.0591,1.4684,1.1029,0.2776,1.4684,0.3718,0.0587,1.4097,0.0530,0.3655,-0.0234,1.1029,1.1029
7,2017-06-30,4.5408,0.6720,2.5566,1.7488,1.1308,0.8717,0.2937,1.1308,0.3783,0.0540,1.0768,0.0602,0.2591,-0.0047,0.8717,0.8717
8,2017-09-30,5.2579,0.6811,3.0164,1.9931,1.3917,1.0714,0.2997,1.3917,0.3814,0.0797,1.3120,0.0666,0.3203,0.2205,1.0714,1.0714
9,2017-12-31,8.8293,0.7638,5.1636,3.3912,2.6274,2.0065,0.3407,2.7030,0.4231,0.0756,2.6274,0.0734,0.6965,0.0756,2.0065,2.0065
10,2018-03-31,6.1137,0.7528,3.7715,2.3422,1.5894,1.3822,0.3378,1.6168,0.4150,0.0274,1.5894,-0.0792,0.2346,0.0274,1.3822,1.3822
11,2018-06-30,5.3265,0.7809,3.2844,2.0421,1.2612,1.1519,0.3701,1.3284,0.4108,0.0672,1.2612,-0.0846,0.1765,0.0672,1.1519,1.1519
12,2018-09-30,6.2900,0.7966,3.8816,2.4084,1.6118,1.4125,0.3750,1.6421,0.4216,0.0303,1.6118,-0.0868,0.2296,0.0303,1.4125,1.4125
13,2018-12-31,8.4310,0.8685,5.2279,3.2031,2.3346,1.9965,0.3902,2.3906,0.4783,0.0560,2.3346,-0.0890,0.3941,0.0560,1.9965,1.9965
14,2019-03-31,5.8015,0.8406,3.6194,2.1821,1.3793,1.1561,0.3948,1.3793,0.4458,0.0378,1.3415,0.1010,0.2232,0.0030,1.1561,1.1561
15,2019-06-30,5.3809,4.2265,3.3582,2.0227,1.5710,1.0044,0.4257,1.1911,0.4426,0.0367,1.1544,0.0866,0.1867,0.0043,1.0044,1.0044
16,2019-09-30,6.4040,4.8415,3.9727,2.4313,2.0116,1.3686,0.4110,1.6127,0.4578,0.0502,1.5625,0.0810,0.2441,0.0206,1.3686,1.3686
17,2019-12-31,9.1819,0.9648,5.6602,3.5217,2.5918,2.2236,0.4451,2.5918,0.5197,0.0349,2.5569,0.0785,0.3682,0.0089,2.2236,2.2236
18,2020-03-31,5.8313,0.9517,3.5943,2.2370,1.3135,1.1249,0.4565,1.3135,0.4952,0.0282,1.2853,0.0757,0.1886,-0.0010,1.1249,1.1249
19,2020-06-30,5.9685,0.9589,3.7005,2.2680,1.3137,1.1253,0.4758,1.3137,0.4831,0.0046,1.3091,0.0697,0.1884,-0.0158,1.1253,1.1253

In [77]:
temp_df = pd.merge(df, income_df_2, on='Date', how='left')

In [79]:
merged_df

,High,Low,Open,Close,Volume,Adj Close,Date,totalRevenue,totalOperatingExpense,costOfRevenue,...,researchAndDevelopment,incomeBeforeTax,sellingGeneralAdministrative,otherNonOperatingIncome,operatingIncome,interestExpense,incomeTaxExpense,totalOtherIncomeExpense,netIncomeFromContinuingOperations,netIncomeApplicableToCommonShares
0,111.540001,108.730003,110.169998,110.300003,66473000.0,101.929794,2015-09-30,5.1501,0.5925,3.0953,...,0.2220,1.5062,0.3705,0.0439,1.4623,0.0238,0.3938,0.0895,1.1124,1.1124
1,109.620003,107.309998,109.070000,109.580002,63929100.0,101.264427,2015-10-01,5.1501,0.5925,3.0953,...,0.2220,1.5062,0.3705,0.0439,1.4623,0.0238,0.3938,0.0895,1.1124,1.1124
2,111.010002,107.550003,108.010002,110.379997,58019800.0,102.003716,2015-10-02,5.1501,0.5925,3.0953,...,0.2220,1.5062,0.3705,0.0439,1.4623,0.0238,0.3938,0.0895,1.1124,1.1124
3,111.370003,109.070000,109.879997,110.779999,52064700.0,102.373367,2015-10-05,5.1501,0.5925,3.0953,...,0.2220,1.5062,0.3705,0.0439,1.4623,0.0238,0.3938,0.0895,1.1124,1.1124
4,111.739998,109.769997,110.629997,111.309998,48196800.0,102.863136,2015-10-06,5.1501,0.5925,3.0953,...,0.2220,1.5062,0.3705,0.0439,1.4623,0.0238,0.3938,0.0895,1.1124,1.1124
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1220,441.570007,435.589996,437.510010,440.250000,30498000.0,439.457642,2020-08-05,5.9685,0.9589,3.7005,...,0.4758,1.3137,0.4831,0.0046,1.3091,0.0697,0.1884,-0.0158,1.1253,1.1253
1221,457.649994,439.190002,441.619995,455.609985,50607200.0,454.790009,2020-08-06,5.9685,0.9589,3.7005,...,0.4758,1.3137,0.4831,0.0046,1.3091,0.0697,0.1884,-0.0158,1.1253,1.1253
1222,454.700012,441.170013,452.820007,444.450012,49453300.0,444.450012,2020-08-07,5.9685,0.9589,3.7005,...,0.4758,1.3137,0.4831,0.0046,1.3091,0.0697,0.1884,-0.0158,1.1253,1.1253
1223,455.100006,440.000000,450.399994,450.910004,53100900.0,450.910004,2020-08-10,5.9685,0.9589,3.7005,...,0.4758,1.3137,0.4831,0.0046,1.3091,0.0697,0.1884,-0.0158,1.1253,1.1253
1224,449.929993,436.429993,447.880005,437.500000,46871100.0,437.500000,2020-08-11,5.9685,0.9589,3.7005,...,0.4758,1.3137,0.4831,0.0046,1.3091,0.0697,0.1884,-0.0158,1.1253,1.1253