In [14]:
import requests
import csv

In [3]:
api = "7OVAOOPNIMKJKIAX"
ticker = 'AAPL'

In [6]:
r = requests.get("https://www.alphavantage.co/query?function=TIME_SERIES_DAILY_ADJUSTED&symbol="+ticker+"&apikey="+ api +"&datatype=csv")

In [7]:
r.status_code

200

In [11]:
decoded_content = r.content.decode('utf-8')

In [15]:
cr = csv.reader(decoded_content.splitlines(), delimiter=',')
my_list = list(cr)
for row in my_list:
    print(row)

['timestamp', 'open', 'high', 'low', 'close', 'adjusted_close', 'volume', 'dividend_amount', 'split_coefficient']
['2020-08-10', '450.4000', '455.1000', '440.0000', '450.9100', '450.9100', '52842831', '0.0000', '1.0000']
['2020-08-07', '452.8200', '454.7000', '441.1700', '444.4500', '444.4500', '49511403', '0.8200', '1.0000']
['2020-08-06', '441.6200', '457.6500', '439.1900', '455.6100', '454.7710', '50607225', '0.0000', '1.0000']
['2020-08-05', '437.5100', '441.5700', '435.5900', '440.2500', '439.4392', '30497988', '0.0000', '1.0000']
['2020-08-04', '436.5300', '443.1600', '433.5500', '438.6600', '437.8522', '43198092', '0.0000', '1.0000']
['2020-08-03', '432.8000', '446.5457', '431.5700', '435.7500', '434.9475', '77037847', '0.0000', '1.0000']
['2020-07-31', '411.5350', '425.6600', '403.3000', '425.0400', '424.2573', '93573867', '0.0000', '1.0000']
['2020-07-30', '376.7500', '385.1900', '375.0700', '384.7600', '384.0514', '39532505', '0.0000', '1.0000']
['2020-07-29', '375.0000', '380.9200', '374.8500', '380.1600', '379.4599', '22582314', '0.0000', '1.0000']
['2020-07-28', '377.4700', '378.1986', '372.9900', '373.0100', '372.3231', '25906375', '0.0000', '1.0000']
['2020-07-27', '374.8400', '379.6200', '373.9200', '379.2400', '378.5416', '30303548', '0.0000', '1.0000']
['2020-07-24', '363.9500', '371.8800', '356.5800', '370.4600', '369.7778', '46359716', '0.0000', '1.0000']
['2020-07-23', '387.9935', '388.3100', '368.0390', '371.3800', '370.6961', '49251108', '0.0000', '1.0000']
['2020-07-22', '386.7700', '391.9000', '386.4100', '389.0900', '388.3735', '22250413', '0.0000', '1.0000']
['2020-07-21', '396.6900', '397.0000', '386.9700', '388.0000', '387.2855', '25911500', '0.0000', '1.0000']
['2020-07-20', '385.6700', '394.0000', '384.2500', '393.4300', '392.7055', '22579500', '0.0000', '1.0000']
['2020-07-17', '387.9500', '388.5900', '383.3600', '385.3100', '384.6004', '23046700', '0.0000', '1.0000']
['2020-07-16', '386.2500', '389.6200', '383.6200', '386.0900', '385.3790', '27644400', '0.0000', '1.0000']
['2020-07-15', '395.9600', '396.9900', '385.9600', '390.9000', '390.1801', '38299500', '0.0000', '1.0000']
['2020-07-14', '379.3600', '389.0200', '375.5100', '388.2300', '387.5150', '42747300', '0.0000', '1.0000']
['2020-07-13', '389.0600', '399.8200', '381.0300', '381.9100', '381.2067', '47912300', '0.0000', '1.0000']
['2020-07-10', '381.3400', '383.9200', '378.8200', '383.6800', '382.9734', '22564300', '0.0000', '1.0000']
['2020-07-09', '385.0500', '385.2700', '378.6900', '383.0100', '382.3047', '31410700', '0.0000', '1.0000']
['2020-07-08', '376.7200', '381.5000', '376.3600', '381.3700', '380.6677', '29273000', '0.0000', '1.0000']
['2020-07-07', '375.4100', '378.6200', '372.2300', '372.6900', '372.0037', '28106100', '0.0000', '1.0000']
['2020-07-06', '370.0000', '375.7800', '369.8700', '373.8500', '373.1615', '29663900', '0.0000', '1.0000']
['2020-07-02', '367.8500', '370.4700', '363.6400', '364.1100', '363.4395', '28484300', '0.0000', '1.0000']
['2020-07-01', '365.1200', '367.3600', '363.9100', '364.1100', '363.4395', '27684300', '0.0000', '1.0000']
['2020-06-30', '360.0800', '365.9800', '360.0000', '364.8000', '364.1282', '35055800', '0.0000', '1.0000']
['2020-06-29', '353.2500', '362.1736', '351.2800', '361.7800', '361.1138', '32661519', '0.0000', '1.0000']
['2020-06-26', '364.4100', '365.3200', '353.0200', '353.6300', '352.9788', '51314200', '0.0000', '1.0000']
['2020-06-25', '360.7000', '365.0000', '357.5700', '364.8400', '364.1681', '34380600', '0.0000', '1.0000']
['2020-06-24', '365.0000', '368.7900', '358.5200', '360.0600', '359.3969', '48155800', '0.0000', '1.0000']
['2020-06-23', '364.0000', '372.3800', '362.2700', '366.5300', '365.8550', '53038900', '0.0000', '1.0000']
['2020-06-22', '351.3400', '359.4600', '351.1500', '358.8700', '358.2091', '33861300', '0.0000', '1.0000']
['2020-06-19', '354.6400', '356.5600', '345.1500', '349.7200', '349.0760', '66119000', '0.0000', '1.0000']
['2020-06-18', '351.4100', '353.4500', '349.2200', '351.7300', '351.0823', '24205100', '0.0000', '1.0000']
['2020-06-17', '355.1500', '355.4000', '351.0900', '351.5900', '350.9425', '28532000', '0.0000', '1.0000']
['2020-06-16', '351.4600', '353.2000', '344.7200', '352.0800', '351.4316', '41357200', '0.0000', '1.0000']
['2020-06-15', '333.2500', '345.6800', '332.5800', '342.9900', '342.3584', '34702200', '0.0000', '1.0000']
['2020-06-12', '344.7200', '347.8000', '334.2200', '338.8000', '338.1761', '50001500', '0.0000', '1.0000']
['2020-06-11', '349.3100', '351.0600', '335.4800', '335.9000', '335.2814', '50415600', '0.0000', '1.0000']
['2020-06-10', '347.9000', '354.7700', '346.0900', '352.8400', '352.1902', '41662900', '0.0000', '1.0000']
['2020-06-09', '332.1400', '345.6100', '332.0100', '343.9900', '343.3565', '36928100', '0.0000', '1.0000']
['2020-06-08', '330.2500', '333.6000', '327.3200', '333.4600', '332.8459', '23913600', '0.0000', '1.0000']
['2020-06-05', '323.3500', '331.7500', '323.2300', '331.5000', '330.8895', '34312600', '0.0000', '1.0000']
['2020-06-04', '324.3900', '325.6200', '320.7800', '322.3200', '321.7264', '21890100', '0.0000', '1.0000']
['2020-06-03', '324.6600', '326.2000', '322.3000', '325.1200', '324.5213', '26122800', '0.0000', '1.0000']
['2020-06-02', '320.7500', '323.4400', '318.9300', '323.3400', '322.7445', '21910700', '0.0000', '1.0000']
['2020-06-01', '317.7500', '322.3500', '317.2100', '321.8500', '321.2573', '20197800', '0.0000', '1.0000']
['2020-05-29', '319.2500', '321.1500', '316.4700', '317.9400', '317.3545', '38399500', '0.0000', '1.0000']
['2020-05-28', '316.7700', '323.4400', '315.6300', '318.2500', '317.6639', '33390200', '0.0000', '1.0000']
['2020-05-27', '316.1400', '318.7100', '313.0900', '318.1100', '317.5242', '28236300', '0.0000', '1.0000']
['2020-05-26', '323.5000', '324.2400', '316.5000', '316.7300', '316.1467', '31380500', '0.0000', '1.0000']
['2020-05-22', '315.7700', '319.2300', '315.3500', '318.8900', '318.3027', '20450800', '0.0000', '1.0000']
['2020-05-21', '318.6600', '320.8900', '315.8700', '316.8500', '316.2665', '25672200', '0.0000', '1.0000']
['2020-05-20', '316.6800', '319.5200', '316.5200', '319.2300', '318.6421', '27876200', '0.0000', '1.0000']
['2020-05-19', '315.0300', '318.5200', '313.0100', '313.1400', '312.5633', '25432400', '0.0000', '1.0000']
['2020-05-18', '313.1700', '316.5000', '310.3200', '314.9600', '314.3800', '33843100', '0.0000', '1.0000']
['2020-05-15', '300.3500', '307.9000', '300.2100', '307.7100', '307.1433', '41587100', '0.0000', '1.0000']
['2020-05-14', '304.5100', '309.7900', '301.5300', '309.5400', '308.9700', '39732300', '0.0000', '1.0000']
['2020-05-13', '312.1500', '315.9500', '303.2100', '307.6500', '307.0834', '50155600', '0.0000', '1.0000']
['2020-05-12', '317.8300', '319.6900', '310.9100', '311.4100', '310.8365', '40575300', '0.0000', '1.0000']
['2020-05-11', '308.1000', '317.0500', '307.2400', '315.0100', '314.4299', '36486600', '0.0000', '1.0000']
['2020-05-08', '305.6400', '310.3500', '304.2900', '310.1300', '309.5589', '33512000', '0.8200', '1.0000']
['2020-05-07', '303.2200', '305.1700', '301.9700', '303.7400', '302.3811', '28803800', '0.0000', '1.0000']
['2020-05-06', '300.4600', '303.2400', '298.8700', '300.6300', '299.2850', '35583400', '0.0000', '1.0000']
['2020-05-05', '295.0600', '301.0000', '294.4600', '297.5600', '296.2288', '36937800', '0.0000', '1.0000']
['2020-05-04', '289.1700', '293.6900', '286.3200', '293.1600', '291.8485', '33392000', '0.0000', '1.0000']
['2020-05-01', '286.2500', '299.0000', '285.8500', '289.0700', '287.7768', '60154200', '0.0000', '1.0000']
['2020-04-30', '289.9600', '294.5300', '288.3500', '293.8000', '292.4856', '45766000', '0.0000', '1.0000']
['2020-04-29', '284.7300', '289.6700', '283.8900', '287.7300', '286.4428', '34320200', '0.0000', '1.0000']
['2020-04-28', '285.0800', '285.8300', '278.2000', '278.5800', '277.3337', '28001200', '0.0000', '1.0000']
['2020-04-27', '281.8000', '284.5400', '279.9500', '283.1700', '281.9032', '29271900', '0.0000', '1.0000']
['2020-04-24', '277.2000', '283.0100', '277.0000', '282.9700', '281.7040', '31627200', '0.0000', '1.0000']
['2020-04-23', '275.8700', '281.7500', '274.8700', '275.0300', '273.7996', '31203600', '0.0000', '1.0000']
['2020-04-22', '273.6100', '277.9000', '272.2000', '276.1000', '274.8648', '29264300', '0.0000', '1.0000']
['2020-04-21', '276.2800', '277.2500', '265.4300', '268.3700', '267.1694', '45247900', '0.0000', '1.0000']
['2020-04-20', '277.9500', '281.6800', '276.8500', '276.9300', '275.6911', '32503800', '0.0000', '1.0000']
['2020-04-17', '284.6900', '286.9500', '276.8600', '282.8000', '281.5348', '53812500', '0.0000', '1.0000']
['2020-04-16', '287.3800', '288.2000', '282.3500', '286.6900', '285.4074', '39281300', '0.0000', '1.0000']
['2020-04-15', '282.4000', '286.3300', '280.6300', '284.4300', '283.1575', '32788600', '0.0000', '1.0000']
['2020-04-14', '280.0000', '288.2500', '278.0500', '287.0500', '285.7658', '48748700', '0.0000', '1.0000']
['2020-04-13', '268.3100', '273.7000', '265.8300', '273.2500', '272.0275', '32755700', '0.0000', '1.0000']
['2020-04-09', '268.7000', '270.0700', '264.7000', '267.9900', '266.7911', '40529100', '0.0000', '1.0000']
['2020-04-08', '262.7400', '267.3700', '261.2300', '266.0700', '264.8797', '42223800', '0.0000', '1.0000']
['2020-04-07', '270.8000', '271.7000', '259.0000', '259.4300', '258.2694', '50721800', '0.0000', '1.0000']
['2020-04-06', '250.9000', '263.1100', '249.3800', '262.4700', '261.2958', '50455100', '0.0000', '1.0000']
['2020-04-03', '242.8000', '245.7000', '238.9700', '241.4100', '240.3300', '32470000', '0.0000', '1.0000']
['2020-04-02', '240.3400', '245.1500', '236.9000', '244.9300', '243.8342', '41483500', '0.0000', '1.0000']
['2020-04-01', '246.5000', '248.7200', '239.1300', '240.9100', '239.8322', '44054600', '0.0000', '1.0000']
['2020-03-31', '255.6000', '262.4900', '252.0000', '254.2900', '253.1524', '49250500', '0.0000', '1.0000']
['2020-03-30', '250.7400', '255.5200', '249.4000', '254.8100', '253.6700', '41994100', '0.0000', '1.0000']
['2020-03-27', '252.7500', '255.8700', '247.0500', '247.7400', '246.6317', '51054200', '0.0000', '1.0000']
['2020-03-26', '246.5200', '258.6800', '246.3600', '258.4400', '257.2838', '63021800', '0.0000', '1.0000']
['2020-03-25', '250.7500', '258.2500', '244.3000', '245.5200', '244.4216', '75900500', '0.0000', '1.0000']
['2020-03-24', '236.3600', '247.6900', '234.3000', '246.8800', '245.7755', '71882800', '0.0000', '1.0000']
['2020-03-23', '228.0800', '228.5000', '212.6100', '224.3700', '223.3662', '84188200', '0.0000', '1.0000']
['2020-03-20', '247.1800', '251.8300', '228.0000', '229.2400', '228.2144', '100423300', '0.0000', '1.0000']
['2020-03-19', '247.3900', '252.8400', '242.6100', '244.7800', '243.6849', '67964300', '0.0000', '1.0000']

In [29]:
df = pd.DataFrame(my_list[1:])

In [33]:
df.columns = ['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume', 'dividend_amount', 'split_coefficient']

In [34]:
df_stock = df[['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume']]

In [37]:
df_stock = df_stock[::-1]
df_stock

          Date      Open      High       Low     Close Adj Close     Volume
99  2020-03-19  247.3900  252.8400  242.6100  244.7800  243.6849   67964300
98  2020-03-20  247.1800  251.8300  228.0000  229.2400  228.2144  100423300
97  2020-03-23  228.0800  228.5000  212.6100  224.3700  223.3662   84188200
96  2020-03-24  236.3600  247.6900  234.3000  246.8800  245.7755   71882800
95  2020-03-25  250.7500  258.2500  244.3000  245.5200  244.4216   75900500
..         ...       ...       ...       ...       ...       ...        ...
4   2020-08-04  436.5300  443.1600  433.5500  438.6600  437.8522   43198092
3   2020-08-05  437.5100  441.5700  435.5900  440.2500  439.4392   30497988
2   2020-08-06  441.6200  457.6500  439.1900  455.6100  454.7710   50607225
1   2020-08-07  452.8200  454.7000  441.1700  444.4500  444.4500   49511403
0   2020-08-10  450.4000  455.1000  440.0000  450.9100  450.9100   52842831

[100 rows x 7 columns]

In [39]:
df_stock.index = range(len(df_stock))

In [40]:
df_stock

          Date      Open      High       Low     Close Adj Close     Volume
0   2020-03-19  247.3900  252.8400  242.6100  244.7800  243.6849   67964300
1   2020-03-20  247.1800  251.8300  228.0000  229.2400  228.2144  100423300
2   2020-03-23  228.0800  228.5000  212.6100  224.3700  223.3662   84188200
3   2020-03-24  236.3600  247.6900  234.3000  246.8800  245.7755   71882800
4   2020-03-25  250.7500  258.2500  244.3000  245.5200  244.4216   75900500
..         ...       ...       ...       ...       ...       ...        ...
95  2020-08-04  436.5300  443.1600  433.5500  438.6600  437.8522   43198092
96  2020-08-05  437.5100  441.5700  435.5900  440.2500  439.4392   30497988
97  2020-08-06  441.6200  457.6500  439.1900  455.6100  454.7710   50607225
98  2020-08-07  452.8200  454.7000  441.1700  444.4500  444.4500   49511403
99  2020-08-10  450.4000  455.1000  440.0000  450.9100  450.9100   52842831

[100 rows x 7 columns]